body {
    font-family: 'Times New Roman';
    background-image: url();
}

h1 {
    border: 2px solid black;
    font-size: 40px;
    text-align: center;
    
}
.special{
    background-image: url(Sultifera\ navis.jpg);
    color: white;
}
mark {
    background-color: yellow;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 60%;
}
td,th{
    border: 1px solid black;
    padding: 8px;
    text-align:center;
}
ul{
    list-style-type: decimal-leading-zero;
}